<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/coursePage.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/editService.js"></script>
    <title>Document</title>
</head>
<body>
  <nav th:insert="~{include/nav :: nav}"></nav>

    <main>
      <div class="container-fluid vw-100 d-flex flex-column flex-lg-row">
        <div class="row w-100 d-flex justify-content-center">
          <form th:action="@{/service/edit(tituloViejo=${Servicio.getTitulo()})}" th:object="${Servicio}" method="post" enctype="multipart/form-data" class="col-10 col-lg-6 card me-lg-4">
            <div class="row text-start">
              <input type="text" th:field="*{titulo}" placeholder="Service name" class="h1 p-1 card-header" required/>
            </div>

            <div class="row">
              <div class="d-flex justify-content-center p-1">
                <img th:src="@{|/uploads/${Servicio.creador.id}/services/${Servicio.id}/portada${Servicio.portada.extension}|}" alt="Imagen de Portada" height="300" class="w-auto">
              </div>
            </div>

            <div class="row">
              <div class="container-fluid p-0">
                  <div class="row d-flex justify-content-between">
                    <div class="form-check p-3">
                      <label class="form-check-label h3" for="thumbnail">Portadako argazkia igo</label>
                      <input class="form-control" type="file" id="thumbnail" name="file">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-center p-3">
                    <textarea	rows="4" cols="50" th:field="*{descripcion}" placeholder="Service description" id="abc" required></textarea>
                  </div>
                  
                  <select class="form-select" id="inputGroupSelect01" name="categoriaParam" required> 
                    <option value="" disabled selected>Selecciona una categoría</option>
                    <option value="Fisica">Fisica</option>
                    <option value="Informatica">Informatica</option>
                    <option value="Mecanica">Mecanica</option>
                    <option value="Biologia">Biologia</option>
                    <option value="Matematica">Matematica</option>
                  </select>

                  <br/>

                  <select class="form-select" id="inputGroupSelect02" name="idiomaParam" required> 
                    <option value="" selected disabled>Selecciona un idioma</option>
                    <option value="es">Castellano</option>
                    <option value="eu">Euskara</option>
                    <option value="en">English</option>
                </select>

                  <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary px-4 m-2">Edit</button>
                    <a th:href="@{/service/delete(title=${Servicio.titulo})}" class="btn btn-danger px-4 m-2">Delete service</a>
                  </div>
              </div>
            </div>
          </form>

          <div class="col-10 col-lg-4 d-flex align-items-center justify-content-center card d-lg-inline mt-3 m-lg-0">
            <div class="container-fluid p-0 m-0 w-100">
              <div class="row d-flex align-items-center">
                <div class="col-auto">
                  <img th:src="@{|/uploads/${Servicio.creador.id}/profile${Servicio.creador.imagen.extension}|}" class="rounded w-auto p-3 m-0" height="100" alt="profile picture">
                </div>
                <div class="col">
                  <p class="h3 m-0 ps-2" th:text="${Servicio.creador.nombre}"></p>
                </div>
              </div>

              <div class="row d-flex justify-content-center p-0">
                <div class="col-10 m-2 p-0">
                  <div class="list-group">
                    <div th:each="i : ${ListaOpciones}" class="list-group-item gap-2" >
                      <form th:action="@{/service/editOption(id=${i.getId()}, title=${Servicio.titulo})}" method="post" class="w-100 d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column" style="width: 75%;">
                          <input type="text" th:value="${i.descripcion}" name="desc" required placeholder="Buy option">
                          <input type="number" name="precio" th:value="${i.precio}" step=".01" required placeholder="€€€">
                        </div>
                        <button type="submit" class="btn btn-light mx-3">Edit</button>
                        <a th:href="@{/service/deleteOption(id=${i.getId()},title=${Servicio.getTitulo()})}" class="btn btn-light">Borrar</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row d-flex justify-content-center p-0">
                <div class="col-10 m-2 p-0">
                  <div class="list-group">
                    <div class="list-group-item gap-2">
                      <form th:action="@{/service/createOption(title=${Servicio.getTitulo()})}" th:object="${Opcion}" method="post" class="w-100 d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column" style="width: 75%;">
                          <input type="text" th:field="*{descripcion}" required placeholder="Buy option">
                          <input type="number" name="precio" step=".01" required placeholder="€€€">
                        </div>
                        <button type="submit" class="btn btn-light">CREATE</button>
                      </form>
                    </div>
                  </div>
                  <br/>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <br>
      <hr>

      <div>
        <h2 class="mx-2 px-2 mx-md-4 px-md-4 fw-bold">Muestras del servicio</h2>
      
        <div class="album py-2 ">
          <div class="container">
            <div class="d-flex overflow-x-auto">

              <div th:each="i : ${ListaMuestras}" class="p-2">
                <form th:action="@{/service/editSample(id=${i.id}, title=${Servicio.getTitulo()})}" method="post" enctype="multipart/form-data" class="card shadow-sm">

                  <div class="d-flex mb-3" th:classappend="|${i.posicion == 1 ? 'justify-content-end' : ' '} ${i.posicion == ListaMuestras.size() ? 'justify-content-start' : ' '} ${i.posicion != 1 and i.posicion != ListaMuestras.size() ? 'justify-content-between' : ' '}|">
                    <a class="btn" th:if="${i.posicion != 1}" th:href="@{/service/editSamplePos(title=${Servicio.getTitulo()},id=${i.id},dir=izq)}">&lt;--</a>
                    <a class="btn" th:if="${i.posicion != ListaMuestras.size()}" th:href="@{/service/editSamplePos(title=${Servicio.getTitulo()},id=${i.id},dir=der)}">--&gt;</a>
                  </div>

                  <div class="d-flex justify-content-center">
                      <img th:if="${i.multimedia.isImg()}" th:src="@{|/uploads/${Servicio.creador.id}/services/${Servicio.id}/muestra${i.posicion}${i.multimedia.extension}|}" alt="Sample Image" height="300">   
                      <video controls th:if="${i.multimedia.isVid()}" height="300">
                          <source th:src="@{|/uploads/${Servicio.creador.id}/services/${Servicio.id}/muestra${i.posicion}${i.multimedia.extension}|}" type="video/mp4">
                      </video>
                  </div>
                  <div class="form-check p-2 ">
                    <p>Para cambiar la foto o video:</p>
                    <input class="form-control" type="file" name="file" id="file1" required>
                  </div>
        
                  <div class="card-body">
                    <div class="d-flex justify-content-between m-2">
                      <button type="submit" class="btn btn-primary px-4 me-md-2">
                        Editar
                      </button>
                      <a th:href="@{/service/deleteSample(id=${i.getId()},title=${Servicio.getTitulo()})}" class="btn btn-primary px-4 me-md-2">
                        Borrar
                      </a>
                    </div>
                  </div>
                </form>
              </div>

              <div class="p-2 d-flex align-items-center w-50">
                <form th:action="@{/service/createSample(title=${Servicio.getTitulo()}, pos=${ListaMuestras.size()+1})}" method="post" enctype="multipart/form-data" class="card shadow-sm">
                  <div class="form-check p-0">
                    <label class="form-check-label h3" for="filex">Argazkia edo bideoa igo</label>
                    <input class="form-control" type="file" name="file" id="filex" required>
                  </div>

                  <div class="card-body">
                    <div class="d-flex justify-content-end m-2">
                      <button type="submit" class="btn btn-primary px-4 me-md-2">
                        Create
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <form th:action="@{/service/publish(private=${Servicio.publicado ? 'y' : 'n'},title=${Servicio.titulo})}" th:object="${Servicio}" method="post" class="m-3 px-2 d-flex justify-content-end">
          <button type="submit" th:text="${Servicio.publicado}? 'Hacer privado' : 'Hacer público'" id="botonPublicar"  class="btn btn-primary"></button>
        </form>
        <div id="verServicio">
          <a th:if="${Servicio.publicado}" th:href="@{/service/view(title=${Servicio.titulo})}" class="btn btn-primary px-4 me-md-2">Ver pantalla del servicio</a>
        </div>
      </div>
    </main>
  <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>