<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/servicePage.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var isAuthenticated = /*[[${isAuthenticated}]]*/ false;
          if (isAuthenticated) {

          var socket = new SockJS('/websocket-endpoint');
          var stompClient = Stomp.over(socket);

          stompClient.connect({}, function (frame) {
              console.log('Connected: ' + frame);
              stompClient.subscribe('/topic/ratings', function (message) {
                  var rating = JSON.parse(message.body);
                  updateRatings(rating);
              });

              stompClient.subscribe('/topic/ratings/delete', function (message) {
                  location.reload();
              });
          });

          function updateRatings(rating) {
              // Actualizar el DOM con la nueva valoración
              var ratingsList = document.getElementById('ratings-list');
              var newRatingElement = document.createElement('div');
              newRatingElement.classList.add('row', 'mb-2');
              newRatingElement.setAttribute('data-rating-id', rating.id);
              newRatingElement.innerHTML = `
                  <div class="col-12 d-flex align-items-center">
                      <div class="me-3 bg-danger rounded">
                          ${rating.canDelete ? `<a class="btn" href="/service/deleteRating?id=${rating.id}&title=${rating.servicioTitulo}">Borrar valoración</a>` : ''}
                      </div>
                      <div class="me-3">
                          <img src="${rating.usuarioImagen}" class="rounded h-auto p-3 m-0" width="100" alt="profile picture">
                      </div>
                      <div>
                          <span>${rating.usuarioNombre} ${rating.usuarioApellidos}: </span>  
                      </div>
                      <div class="rating mx-3">
                          <span>${rating.valoracion} estrellas</span>
                      </div>
                      <div>
                          <span>${rating.comentario}</span>
                      </div>
                  </div>
              `;
              ratingsList.appendChild(newRatingElement);
          }
        }
      });
  </script>
</head>
<body>
  <nav th:insert="~{include/nav :: nav}"></nav>

  <div th:if="${servicio.verificado}" class="d-flex justify-content-center bg-info mx-4 ">
    <p class="m-auto text-white p-2">Verificado por el administrador</p>
  </div>
  <form th:action="@{/service/verify(title=${servicio.titulo})}" method="post" th:if="${!servicio.verificado and admin}" class="d-flex justify-content-center bg-info mx-4 mb-2">
    <button class="btn border rounded bg-white my-2">Verificar</button>
  </form>

  <div class="container-fluid vw-100 d-flex flex-column flex-lg-row">
    <main class="row w-100 d-flex justify-content-center">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center vw-100">

          <div class="col-10 col-lg-4 card me-lg-4">
            <div class="row text-start">
              <p class="h1 p-1 card-header" th:text="${servicio.titulo}">Lehen Zerbitzua</p>
            </div>
            <div class="row d-flex justify-content-center p-1">
              <div id="carouselExampleIndicators" class="carousel slide col">
                <div class="carousel-indicators">
                  <button th:each="i : ${servicio.muestras}" type="button" data-bs-target="#carouselExampleIndicators" th:data-bs-slide-to="${i.posicion-1}" th:attrappend="aria-current=${i.posicion==1}?true" th:classappend="${i.posicion==1}?active" th:aria-label="|Slide ${i.posicion}|"></button>
                </div>
                <div class="carousel-inner">
                  <div th:each="i : ${servicio.muestras}" class="carousel-item text-center" th:classappend="${i.posicion==1}?active">
                    <video th:if="${i.multimedia.isVid()}" controls class="w-100 h-auto">
                      <source th:src="@{|/uploads/${servicio.creador.id}/services/${servicio.id}/muestra${i.posicion}${i.multimedia.extension}|}" type="video/mp4">
                    </video>
                    <img th:if="${i.multimedia.isImg()}" th:src="@{|/uploads/${servicio.creador.id}/services/${servicio.id}/muestra${i.posicion}${i.multimedia.extension}|}" class="w-100 h-auto" th:alt="|slide number ${i.posicion}|">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="row d-flex justify-content-center p-1">
              <p th:text="${servicio.descripcion}"></p>
            </div>
          </div>

          <div class="col-10 col-lg-4 d-flex align-items-center justify-content-center card d-lg-inline mt-3 m-lg-0">
            <img th:src="@{|/uploads/${servicio.creador.id}/profile${servicio.creador.imagen.extension}|}" class="rounded h-auto p-3 m-0" width="100" alt="profile picture">
            <span class="h3 m-0 ps-2" th:text="|${servicio.creador.nombre} ${servicio.creador.apellidos}|"></span>
            <div class="col-10 m-2">
              <form class="offset-lg-2" th:action="@{/service/buy(title=${servicio.titulo})}" method="post">
                <div id="max-height" class="list-group">
                  <label th:each="i : ${servicio.opciones}" class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="radio" name="id" th:value="${i.id}">
                    <span>
                      <span th:text="${i.getDescripcion()}"></span>
                      <small th:text="|${i.getPrecio()}€|" class="d-block text-body-secondary"></small>
                    </span>
                  </label>
                </div>
                <div class="card opinion-card d-flex justify-content-center mt-3 p-0 bg-success">
                  <button type="submit" class="btn btn-lg">Buy</button>
                </div>
              </form>   
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
        
  <div class="container-fluid my-4">
    <div class="row d-flex justify-content-center"> 
      <div class="col-11 card opinion-card p-0">
        <div class="card-header opinion-header"> 
            Opiniones:
        </div>
        <div class="card-body" id="ratings-list">
          <div th:each="i : ${servicio.valoraciones}" class="row mb-2" data-rating-id="${i.id}">
            <div class="col-12 d-flex align-items-center">
              <div class="me-3 bg-danger rounded">
                <a th:if="${i.usuario.id == usuarioID or admin}" class="btn" th:href="@{/service/deleteRating(id=${i.id},title=${servicio.titulo})}">Borrar valoración</a>
              </div>
              <div class="me-3">
                <img th:src="@{|/uploads/${i.usuario.id}/profile${i.usuario.imagen.extension}|}" class="rounded h-auto p-3 m-0" width="100" alt="Foto de perfil">
              </div>
              <div>
                <span th:text="|${i.usuario.nombre} ${i.usuario.apellidos}: |"></span>  
              </div>
              <div class="rating mx-3">
                <span th:text="|${i.getValoracion()} estrellas|">★★★☆☆</span>
              </div>
              <div>
                <span th:text="${i.getComentario()}"></span>
              </div>
            </div>
          </div>
        </div>

        <form sec:authorize="isAuthenticated()" th:action="@{/service/rate(title=${servicio.titulo})}" th:object="${ValorarServicios}" method="post">
          <label>Valoracion: <input type="number" th:field="*{valoracion}" max="5" min="0"></label>
          <label>Comentario: <input type="text" th:field="*{comentario}"></label>
          <button type="submit">Mandar valoracion</button>
        </form>
      </div>
    </div>
  </div>

  <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>