  <nav id="header" class="navbar navbar-dark animated-nav row custom-height p-0" aria-label="Dark offcanvas navbar">
    <div class="container-fluid p-0">

      <a class="navbar-brand d-flex align-items-center" href="#" id="title">
        <img src="/images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
        <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
      </a>


      <div class="btn-group" id="header-buttons">
       
        <a id="create-account-button" th:href="@{/user/create}" class="botoi d-none">Crear cuenta</a>
        <a th:href="@{/user/prices}" class="botoiPro text-decoration-none">SkillParty Pro</a>
        <a id="service-button" th:href="@{/service/list}" class="botoi">Servicios</a>
        <a id="course-button" th:href="@{/course/list}" class="botoi">Cursos</a>
        <a id="login-button" th:href="@{/login}" class="botoi" sec:authorize="!isAuthenticated()">Iniciar sesión</a>
        <a th:href="@{/user/panel}" class="botoi" sec:authorize="isAuthenticated()">Panel</a>
      </div>
      
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Skillparty</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" th:href="@{/}">Página principal</a>
              <a href="#" class="nav-link active" sec:authorize="isAuthenticated()" onclick="document.getElementById('logout-form-hamburger').submit();">Cerrar sesión</a>
            <form id="logout-form-hamburger" th:action="@{/logout}" method="POST" style="display: none;">
            </form>
            <div id="menu-buttons">
              <a class="nav-link active d-none" aria-current="page" id="create-account-button-hamburger" th:href="@{/user/create}">Crear cuenta</a>
              <a class="nav-link active botoiPro" aria-current="page" th:href="@{/user/prices}">SkillParty Pro</a>
              <a class="nav-link active" aria-current="page" id="service-button-hamburgesa" th:href="@{/service/list}">Servicios</a>
              <a class="nav-link active" aria-current="page" id="course-button-hamburgesa" th:href="@{/course/list}">Cursos</a>
              <a class="nav-link active" aria-current="page" id="login-button-hamburgesa" th:href="@{/login}" sec:authorize="!isAuthenticated()">Iniciar sesión</a>
              <a class="nav-link active" aria-current="page" th:href="@{/user/panel}" sec:authorize="isAuthenticated()">Panel</a>
            </div>
          </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Idioma
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="?lang=es">Castellano</a><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="?lang=eu">Vasco</a><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="?lang=en">Inglés</a></li>
              </ul>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </nav>