<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>nav</title>
</head>
<body class="overflow-x-hidden">
    <nav id="header" class="navbar navbar-dark animated-nav row custom-height" aria-label="Dark offcanvas navbar">
        <div class="container">

            <a class="navbar-brand d-flex align-items-center" href="#" id="title">
                <img src="../images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
                <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
            </a>

            <div class="d-flex flex-row">

            
            <div class="d-flex flex-row me-2 me-md-3 me-lg-4 align-items-center">
                <img src="../images/logo.jpg" alt="logo" height="50">
                <h2>10€</h2>
            </div>
            
            <!--Para quitar el a -> d-none. Para ponerlo -> d-inline-->
            <div class="btn-group me-2" id="header-buttons">
                <!--Iniciar sesion-->
                <a href="/createUser.html" class="botoi me-1 me-md-2 px-2 py-2 px-md-3 py-md-2 px-md-4 py-md-3 d-none">Kontua sortu</a>
                <!--Crear cuenta-->
                <a href="../html/index.html" class="botoi me-1 me-md-2 px-2 py-2 px-md-3 py-md-2 px-md-4 py-md-3 d-none">Saioa hasi</a>
                <!--En los demás-->
                <button class="botoiPro me-1 me-md-2 px-1 py-1 px-md-3 py-md-2 px-lg-4 py-lg-3">SkillParty Pro</button>
                <!--Estos no se si vamos a poner-->
                <a href="../html/cursos.html" class="botoi me-1 me-md-2 px-1 py-1 px-md-3 py-md-2 px-lg-4 py-lg-3 d-none">Cursos</a>
                <a href="../html/servicios.html" class="botoi me-1 me-md-2 px-2 py-2 px-md-3 py-md-2 px-lg-4 py-lg-3">Servicios</a>
                <!--Estos depende de que usuario sea-->
                <a href="../html/panelCreador.html" class="botoi me-1 me-md-2 px-2 py-2 px-md-3 py-md-2 px-lg-4 py-lg-3 d-none">Panel del creador</a>
                <a href="../html/PanelUsuario.html" class="botoi me-1 me-md-2 px-2 py-2 px-md-3 py-md-2 px-lg-4 py-lg-3 d-none">Panel del usuario</a>
                <a href="../html/Administrador/panelAdministrador.html" class="botoi me-1 me-md-2 px-2 py-2 px-md-3 py-md-2 px-lg-4 py-lg-3">Administrador</a>
            </div>
        </div>
            
            
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>

                        <li class="nav-item">
                            <div id="menu-buttons">
                                <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
                                <a class="nav-link active" aria-current="page" href="#">Saioa hasi</a>
                                <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                                <a class="nav-link active" aria-current="page" href="#">Cursos</a>
                                <a class="nav-link active" aria-current="page" href="#">Servicios</a>
                                <a class="nav-link active" aria-current="page" href="#">Panel del creador</a>
                                <a class="nav-link active" aria-current="page" href="#">Panel del usuario</a>
                                <a class="nav-link active" aria-current="page" href="#">Administrador</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hizkuntza
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/login(lang=eu)}">Euskara</a><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/login(lang=es)}">Castellano</a><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/login(lang=en)}">English</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                
            </div>
        </div>
    </nav>

    <div>
        <br>
        <br><br><br>
        <h1 class="d-md-inline d-none">MD</h1>
        <h1 class="d-lg-inline d-none">LG</h1>
    </div>
    

    <script defer src="../js/bootstrap.bundle.min.js"></script>

</body>
</html>