<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/startCourse.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>CourseName</title>
</head>
<body>
  <header th:insert="~{include/nav :: nav}"></header>

  <main>
    <div class="container-fluid">
      <div class="row">
          <a class="h1 text-decoration-none" th:href="@{/course/view(title=${elemento.padre.titulo})}" th:text="|Curso: ${elemento.padre.titulo}|"></a>
      </div>
      <div class="row  d-flex justify-content-center">
          <div class="col-10 col-md-9 col-lg-7 card">
            <div class="row text-start">
              <p class="h2 p-1 card-header" th:text="${elemento.titulo}"></p>
            </div>
            <div class="row d-flex justify-content-center p-1 fixed-height">
              <video th:if="${elemento.multimedia.isVid()}" controls class="w-100 h-auto">
                <source th:src="@{|/uploads/${elemento.padre.creador.id}/courses/${elemento.padre.id}/elemento${elemento.posicion}${elemento.multimedia.extension}|}" type="video/mp4">
              </video>
              <img th:if="${elemento.multimedia.isImg()}" class="w-auto" th:src="@{|/uploads/${elemento.padre.creador.id}/courses/${elemento.padre.id}/elemento${elemento.posicion}${elemento.multimedia.extension}|}" alt="Imagen del curso">
            </div>
            <div class="row d-flex justify-content-between">
              <div class="col-1 m-2 w-auto">
                <a class="btn btn-primary" th:if="${elemento.posicion != 1}" th:href="@{/course/content(title=${elemento.padre.titulo},pos=${elemento.posicion - 1})}">Elemento anterior</a>
              </div>
              <div class="col-1 m-2 w-auto">
                <a class="btn btn-primary" th:if="${elemento.posicion != tamaño}" th:href="@{/course/content(title=${elemento.padre.titulo},pos=${elemento.posicion + 1})}">Elemento siguiente</a>
                <a class="btn btn-primary" th:if="${elemento.posicion == tamaño and acabado == false}" th:href="@{/course/finish(title=${elemento.padre.titulo})}">Dar curso por terminado</a>
                <span th:if="${elemento.posicion == tamaño and acabado == true}">Este curso ya ha sido dado por terminado</span>
              </div>
            </div>
          </div>
          <div class="col-10 card mt-3">
              <p th:text="${elemento.texto}"></p>
          </div>
      </div>
    </div>
  </main>
  <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>