<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">    
    <link href="/css/createCourse.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <title>Kurtsoa sortu</title>
    <style>
      html, body {
          height: 100%;
          background-color: #c20114;
          background-image: linear-gradient(316deg, #e8a02c  0%, #6db6d1 74%);
      }
  </style>
</head>
<body class="bg-body-tertiary">
  <header th:insert="~{include/nav :: nav}"></header>

  <div class="container">
    <main>
      <div class="py-2 text-center">
          <img class="d-block mx-auto mb-4 w-auto" src="/images/skillPartyLogo.png" alt="Logo SkillParty" height="57">
          <h2>Crear un curso</h2>
          <p class="lead">¿Quieres crear un curso? ¡Hazlo aquí!</p>
      </div>

      <div class="row g-5 d-flex justify-content-center">
        <div class="col-11">
          <h4 class="mb-3">Información Básica</h4>
          <form th:action="@{/course/create}" th:object="${Curso}" method="post" enctype="multipart/form-data" class="needs-validation">
            <div class="row g-3 d-flex flex-column">

              <div class="col-12">
                <label for="firstName" class="form-label">Título del curso</label>
                <input type="text" class="form-control" id="firstName" th:field="*{titulo}" required>
                <div class="invalid-feedback">
                    El título del curso es obligatorio.
                </div>
              </div>

              <div class="col-12">
                <label for="description" class="form-label">Descripción</label>
                <textarea class="form-control" id="description" th:field="*{descripcion}" required></textarea>
                <div class="invalid-feedback">
                    La descripción es obligatoria.
                </div>
              </div>

              <div class="col-12">
                <label for="lang" class="form-label">Idioma</label>
                <select id="lang" class="form-select" aria-label="Default select example" name="idiomaParam" required>
                  <option value="" disabled selected>Selecciona una opción</option> 
                  <option value="eu">Euskara</option>
                  <option value="es">Castellano</option>
                  <option value="en">English</option>
                </select>
                <div class="invalid-feedback">
                  Un idioma valido es obligatorio.
                </div>
              </div>

              <div class="col-12">
                <label for="category" class="form-label">Tipo</label>
                <select class="form-select" id="category" aria-label="Default select example" name="tipoParam" required>
                  <option value="" disabled selected>Selecciona una opción</option>
                  <option value="informatica">Informática</option>
                  <option value="matematica">Matemática</option>
                  <option value="biologia">Biología</option>
                </select>
                <div class="invalid-feedback">
                  El tipo del curso es obligatorio.
                </div>
              </div>

              <div class="col-12">
                <label for="price" class="form-label">Precio</label>
                <input type="number" min="0" class="form-control" id="price" name="precio" required>
                <div class="invalid-feedback">
                  El precio es obligatorio
                </div>
              </div>

            </div>
            <div class="row g-3">
              <div class="col-12">
                <hr class="my-4">

                <div class="form-check p-0">
                    <label class="form-check-label h3" for="portada">Subir portada del curso</label>
                    <input class="form-control" id="portada" name="file" type="file">
                </div>

                <button class="w-100 btn btn-primary btn-lg my-3" type="submit">Crear curso</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
  <footer th:insert="~{include/footer :: div}"></footer>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
