<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cardStyle.css">

    <title>Document</title>
</head>
<body>

    <div class="video-container">
        <video autoplay loop muted playsinline>
            <source src="/video/background.mp4" type="video/mp4">
        </video>
    </div>

    <header th:insert="~{include/nav :: nav}"></header>

    <main>
        <form th:action="@{/user/edit}" th:object="${usuario}" method="post" enctype="multipart/form-data">
            <div class="mx-4 px-4">
                <h1 class="text-white fw-bold">Editar perfil</h1>
            </div>
            <div class="container text-center">
                <div class="row w-100">
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Nombre de usuario: </h4>
                        <input type="text" th:field="*{username}" placeholder="Nombre de usuario"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Correo electrónico: </h4>
                        <input type="email" th:field="*{email}" placeholder="Correo electrónico"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Número de teléfono: </h4>
                        <input type="number" th:field="*{telefono}" placeholder="Número de teléfono"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Nombre: </h4>
                        <input type="text" th:field="*{nombre}" placeholder="Nombre"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Apellidos: </h4>
                        <input type="text" th:field="*{apellidos}" placeholder="Apellidos"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Fecha de nacimiento: </h4>
                        <input type="date" name="fecha"/>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Contraseña actual: </h4>
                        <input type="text" name="oldPassword" placeholder="Contraseña actual"/>
                    </div>
        
                    <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                        <h4>Contraseña nueva: </h4>
                        <input type="text" name="newPassword" placeholder="Contraseña nueva"/>
                    </div>
        
                    <div class="col-lg-4 col-sm-12 text-white p-2 mb-2">
                        <h4>Repite la contraseña nueva: </h4>
                        <input type="text" placeholder="Repite la contraseña nueva"/>
                    </div>
                    <div class="col-12 text-white p-2 mb-2 d-flex justify-content-center">
                        <div class="form-check p-4 ps-5 w-75">
                            <label class="form-check-label h3 text-white" for="formFile">Cambiar la foto de perfil</label>
                            <input class="form-control" type="file" name="file" id="formFile">
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-4 glass">
                        <div class="container">
                            <div class="card">
                                <div class="content">
                                    <h2>01</h2>
                                    <h3>Cursos</h3>
                                    <p>Podrás crear tus propios cursos y publicarlos al público.</p>
                                    <div>
                                        <input type="checkbox" id="curso_input">
                                        <label for="curso_input" class="text-white">Elegir</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 glass">
                        <div class="container">
                            <div class="card">
                                <div class="content">
                                    <h2>02</h2>
                                    <h3>Servicios</h3>
                                    <p>Podrás publicar tus servicios y ganar dinero con contrataciones.</p>
                                    <div>
                                        <input type="checkbox" id="servicio_input">
                                        <label for="servicio_input" class="text-white">Elegir</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 glass">
                        <div class="container">
                            <div class="card">
                                <div class="content">
                                    <h2>03</h2>
                                    <h3>Kit konpleto</h3>
                                    <p>Podrás hacer los dos.</p>
                                    <div>
                                        <input type="checkbox" id="todos_input">
                                        <label for="todos_input" class="text-white">Elegir</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row w-100 m-3 pt-md-3 pe-md-4 justify-content-between">
                    <a th:href="@{/user/delete}" class="col-md-2 btn btn-danger btn-lg px-4 me-md-2">Borrar</a>
                    <button type="submit" class="col-md-2 btn btn-primary btn-lg px-4 me-md-2">Editar</button>
                </div>
            </div>
        </form>
    </main>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>