<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/vistaCurso.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>

    <div class="video-container">
        <video autoplay loop muted playsinline>
            <source src="../video/background.mp4" type="video/mp4">
        </video>
    </div>

    <nav id="header" class="navbar navbar-dark animated-nav row custom-height" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">
    
        <a class="navbar-brand d-flex align-items-center" href="#" id="title">
            <img src="../images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
            <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
        </a>
    
        <div class="btn-group" id="header-buttons">
            <button class="botoiPro">SkillParty Pro</button>
            <a href="../html/createUser.html" class="botoi">Kontua sortu</a>
            <a href="../html/panelCreador.html" class="botoi">Panel de Creador</a>
        </div>
        
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
    
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
    
                <li class="nav-item">
                <div id="menu-buttons">
                <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
                <a class="nav-link active" aria-current="page" href="#">Panel del creador</a>
                
                </div>
            </li>
    
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hizkuntza
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Euskara</a><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Castellano</a><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
            
        </div>
        </div>
    </nav>

    <main>
        <div class="m-4 p-4">
            <h1 class="text-white fw-bold">Editar perfil</h1>
        </div>
        <form class="container">
        
            <div class="row d-flex text-center w-100 mx-0">
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Name: </h4>
                    <input type="text" name="name" value="" placeholder="Name"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Surname: </h4>
                    <input type="text" name="surname" value="" placeholder="Surname"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Date of Birth: </h4>
                    <input type="date" name="surname" value="" placeholder="date_birth"/>
                </div>
                
            </div>
            <div class="row d-flex text-center w-100 mx-0">
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Email address: </h4>
                    <input type="text" name="surname" value="" placeholder="email"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Username: </h4>
                    <input type="text" name="surname" value="" placeholder="username"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Password: </h4>
                    <input type="text" name="surname" value="" placeholder="password"/>
                </div>
            </div>

            <div class="row d-flex text-center w-100 mx-0">
                <div class="col-md-6 text-white p-2 mb-2">
                    <h4>Repeat password: </h4>
                    <input type="text" name="surname" value="" placeholder="repeatPassword"/>
                </div>
                <div class="col-md-6 text-white p-2 mb-2">
                    <h4>Telephone number: </h4>
                    <input type="number" name="telephone" value="" placeholder="telephone number"/>
                </div>
            </div>
        </form>
    
        <div class="container">
            <div class="row">
                <div id="glass" class="col-md-4">
                    <div class="container">
                        <div class="card">
                            <div class="content">
                                <h2>01</h2>
                                <h3>Cursos</h3>
                                <p>Podrás crear tus propios cursos y publicarlos al público.</p>
                                <form>
                                    <input type="checkbox" name="creator" id="creator">
                                    <label for="creator" class="text-white">Elegir</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="glass" class="col-md-4">
                    <div class="container">
                        <div class="card">
                            <div class="content">
                                <h2>02</h2>
                                <h3>Servicios</h3>
                                <p>Podrás publicar tus servicios y ganar dinero con contrataciones.</p>
                                <form>
                                    <input type="checkbox" name="creator" id="creator">
                                    <label for="creator" class="text-white">Elegir</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="glass" class="col-md-4">
                    <div class="container">
                        <div class="card">
                            <div class="content">
                                <h2>03</h2>
                                <h3>Kit konpleto</h3>
                                <p>Podrás hacer los dos.</p>
                                <form>
                                    <input type="checkbox" name="creator" id="creator">
                                    <label for="creator" class="text-white">Elegir</label>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <form th:action="@{/user/delete}" method="post">
                    <button type="submit">BORRAR USUARIO</button>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-end m-3">
            <button class="btn btn-primary btn-lg px-4 me-md-2">Editar</button>
        </div>
    </main>
    <script defer src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>