<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>fondos</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
        <link rel="stylesheet" href="/css/listStyle.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

    </head>
    <body class="overflow-x-hidden">
        <nav th:insert="~{include/nav :: nav}"></nav>

        <!--Hasi -->

        <main>
            <div class="m-4 ms-5 border p-2 ">
                <h3 class="mt-2 ms-2 text-center text-md-start text-decoration-underline fw-bold">
                    Gráfico de ganancias
                </h3>
                <p class="mx-2 mt-2 text-center text-sm-start">
                    Este gráfico representa las ganancias obtenidas por los servicios.
                </p>
            </div>

            <div class="col-md-10 ms-sm-auto col-lg-11 px-md-4">
                <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            </div>

            <div class="container m-lg-4 ms-0 me-0 ps-3 pt-5">
                <h3 class="text-decoration-underline fw-bold mb-3">Para cobrar</h3>
                <div class="row">
                    <div class="col-6 col-md-10"> 
                        <p>Lo que has ganado desde la última vez que cobraste:</p>
                    </div>
                    <div class="col-2 text-end"> 
                        <h4 class="fw-bold" th:text="|${usuario.porCobrar}€|"></h4>
                    </div>
                    
                </div>
                <div class="row my-4">
                    <div class="col-6 col-md-10 d-flex align-items-center">
                        <p>Para cobrar lo que debes, click-a en el botón -></p>
                    </div>
                    <div class="col-2 text-end">
                        <form th:action="@{/user/claim}" method="post">
                            <button type="submit" class="btn btn-primary border border-primary rounded text-white btn-lg">Cobrar</button>
                        </form>
                    </div>
                </div>
                
                
            </div>
        </main>
        
















        <!-- Script-ak-->
        <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
        <script th:inline="javascript">
            const datos = /*[[${beneficios}]]*/ 1;
        </script>
        <script src="/js/dashboard.js"></script>
    </body>
</html>