<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>SkillParty - Login</title>
</head>
<body>
  <div class="video-container">
    <video autoplay loop muted playsinline>
      <source src="/video/background.mp4" type="video/mp4">
    </video>
  </div>

  <header th:insert="~{include/nav :: nav}"></header>

  <div class="container-fluid m-0 vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
      <main class="col-xs-10 offset-xs-1 col-lg-12 offset-lg-0 col-xl-5 offset-xl-6 pt-5 d-flex align-items-stretch justify-content-center">
        <form class="w-75" th:action="@{/user/login}" method="post">
          <h1 class="display-1 mb-3 fw-normal text-white">Iniciar sesión</h1>

          <div class="form-floating">
            <input type="text" class="form-control bg-body-primary mb-2" name="username" id="username" placeholder="Usuario">
            <label for="username" th:text="#{login.username}"></label>
          </div>
          <div class="form-floating mt-3">
            <input type="password" class="form-control bg-body-primary" name="password" id="password" placeholder="Contraseña">
            <label for="password">Contraseña</label>
          </div>

          <button class="btn btn-primary w-100 py-2" type="submit">Iniciar sesión</button>
        </form>
      </main>
    </div>
  </div>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
    <script defer src="/js/login.js"></script>
</body>
</html>