<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>SkillParty - Panel del creador</title>
</head>
<body>
  <header th:insert="~{include/nav :: nav}"></header>

  <main class="container">
    
    <h1>Panel del creador</h1>

    <div class="container col-xxl-10 px-4 py-5">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Servicios pendientes</h1>
          <p class="lead">Ver que servicios están pendientes de entregar.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/pending">Entrar</a>    
        </div>
      </div>

      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="  col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Cursos y Servicios contratados</h1>
          <p class="lead">Ver los cursos realizados y servicios contratados.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/bought">Entrar</a>   
        </div>
      </div>

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Cursos y servicios publicados</h1>
          <p class="lead">Ver los cursos y servicios publicados.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/published">Entrar</a>    
        </div>
      </div>

      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="  col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Crear un curso</h1>
          <p class="lead">Crear un curso nuevo.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/course/create">Entrar</a>    
        </div>
      </div>
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Ver cursos creados</h1>
          <p class="lead">Ver todos los cursos creados, incluso los que no están publicados.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/courses">Entrar</a>    
        </div>
      </div>
      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Crear un servicio</h1>
          <p class="lead">Crear un servicio nuevo.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/service/create">Entrar</a>    
        </div>
      </div>
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Ver servicios creados</h1>
          <p class="lead">Ver todos los servicios creados, incluso los que no están publicados.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/services">Entrar</a>    
        </div>
      </div>

      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="  col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Editar perfil</h1>
          <p class="lead">Editar datos del perfil</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/edit">Entrar</a> 
        </div>
      </div>

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Reclamar fondos</h1>
          <p class="lead">Si quieres recoger los fondos, accede aquí</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/claim">Entrar</a>    
        </div>
      </div>

      <div class="row flex-lg-row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Aumentar saldo</h1>
        <p class="lead">Para poder contratar servicios y realizar cursos de pago, añade dinero aquí </p>
        <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/addBalance">Entrar</a>  
        </div>
      </div>        
    
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="  col-lg-6">
          <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Tramite de quejas o sugerencias</h1>
          <p class="lead">Si tienes alguna queja o sugerencia, accede aquí y tramítala.</p>
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="/snake">Entrar</a>
        </div>
      </div>

      
    </div>
    
  </main>
  <footer th:insert="~{include/footer :: div}"></footer>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
