<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/panelUsuario.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>Panel de administrador</title>
</head>
<body>

    <nav id="header" class="navbar navbar-dark animated-nav row custom-height" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="#" id="title">
            <img src="/images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
            <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
        </a>

        <div class="btn-group" id="header-buttons">
            <button class="botoiPro">SkillParty Pro</button>
            <a href="/html/createUser.html" class="botoi">Kontua sortu</a>
            <a href="/html/cursos.html" class="botoi">Kurtsoak</a>
            <a href="/html/PanelUsuario.html" class="botoi">Panel del usuario</a>
        </div>
        
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>

                <div id="menu-buttons">
                <li class="nav-item">
                    <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
                </li>
                </div>
                

                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hizkuntza
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Euskara</a></li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="#">Castellano</a></li>
                    <hr class="dropdown-divider">
                    <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
            
        </div>
        </div>
    </nav>

    <main class="container">

        <h1>Panel de Administrador</h1>


        <div class="container col-xxl-8 px-4 py-5">
            
            <div class="row flex-lg-row- align-items-center g-5 py-5">
                <div class="col-lg-6">
                <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Revisar cursos y servicios</h1>
                <p class="lead">Para revisar los nuevos cursos y servicios, accede aquí y revísalos</p>
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/verify">Entrar</a>
                </div>
            </div>

            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Servicios pendientes</h1>
                  <p class="lead">Ver que servicios están pendientes de entregar.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/pending">Entrar</a>    
                </div>
              </div>
        
              <div class="row flex-lg-row- align-items-center g-5 py-5">
                <div class="col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Cursos y Servicios contratados</h1>
                  <p class="lead">Ver los cursos realizados y servicios contratados.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/bought">Entrar</a>   
                </div>
              </div>
        
              <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Cursos y servicios publicados</h1>
                  <p class="lead">Ver los cursos y servicios publicados.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/published">Entrar</a>    
                </div>
              </div>
        
              <div class="row flex-lg-row- align-items-center g-5 py-5">
                <div class="  col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Crear un curso</h1>
                  <p class="lead">Crear un curso nuevo.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/course/create">Entrar</a>    
                </div>
              </div>
              <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Ver cursos creados</h1>
                  <p class="lead">Ver todos los cursos creados, incluso los que no están publicados.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/courses">Entrar</a>    
                </div>
              </div>
              <div class="row flex-lg-row- align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Crear un servicio</h1>
                  <p class="lead">Crear un servicio nuevo.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/service/create">Entrar</a>    
                </div>
              </div>
              <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Ver servicios creados</h1>
                  <p class="lead">Ver todos los servicios creados, incluso los que no están publicados.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/services">Entrar</a>    
                </div>
              </div>
        
              <div class="row flex-lg-row- align-items-center g-5 py-5">
                <div class="  col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Editar perfil</h1>
                  <p class="lead">Editar datos del perfil</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/edit">Entrar</a> 
                </div>
              </div>
        
              <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Reclamar fondos</h1>
                  <p class="lead">Si quieres recoger los fondos, accede aquí</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/user/claim">Entrar</a>    
                </div>
              </div>
        
              <div class="row flex-lg-row- align-items-center g-5 py-5">
                <div class="  col-lg-6">
                  <img src="/images/skillPartyLogo.png" class="d-block mx-lg-auto img-fluid" alt="logo" width="700" height="500" loading="lazy">
                </div>
                <div class="col-10 col-sm-8 col-lg-6">
                  <h1 class="display-5 fw-bold lh-1 mb-3">Tramite de quejas o sugerencias</h1>
                  <p class="lead">Si tienes alguna queja o sugerencia, accede aquí y tramítala.</p>
                  <a class="btn btn-primary btn-lg px-4 me-md-2" href="/snake">Entrar</a>
                </div>
              </div>
        
        </div>
    </main>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>