<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/listStyle.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <title>Historial</title>
    </head>
    <body class="overflow-x-hidden">
        <nav th:insert="~{include/nav :: nav}"></nav>
        
        <main class="container position-relative overflow-auto pt-4">

            <div class="border m-2 mt-3 p-2">
                <h2>Servicios a realizar</h2>
            </div>
            <div class="album py-2">
                <div class="container-fluid ">
                    <div class="d-flex overflow-x-auto">
                        
                        <div th:each="i : ${servicios}" class="p-2">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${i.servicio.titulo}"></h5>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <img th:src="@{|/uploads/${i.servicio.creador.id}/services/${i.servicio.id}/portada${i.servicio.portada.extension}|}" alt="logo" width="300">   
                                </div>
                                <div class="card-body">
                                    <p class="card-text" th:text="${i.servicio.descripcion}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="@{/snake}" class="btn btn-sm btn-outline-secondary">Abrir chat - <span th:text="${i.usuario.nombre}"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <script defer src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>