<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/listStyle.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <title>Historial</title>
    </head>
    <body class="overflow-x-hidden">
        <nav th:insert="~{include/nav :: nav}"></nav>

        <main class="container position-relative overflow-auto pt-4">

            
        <!-- Servicios-->
            <div class="border m-2 mt-5 p-2">
                <h2>Servicios a realizar</h2>
            </div>
            <div class="album py-2">
                <div class="container-fluid ">
                    <div class="d-flex overflow-x-auto">
                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores similique porro, accusamus error tenetur. Fugit praesentium expedita, eaque deserunt voluptatibus itaque quaerat, ipsam maiores magnam est atque minus tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti beatae necessitatibus saepe mollitia ipsa minima labore alias perspiciatis dignissimos, dolorem eveniet, non, reiciendis sit itaque libero animi debitis unde!</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores similique porro, accusamus error tenetur. Fugit praesentium expedita, eaque deserunt voluptatibus itaque quaerat, ipsam maiores magnam est atque minus tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti beatae necessitatibus saepe mollitia ipsa minima labore alias perspiciatis dignissimos, dolorem eveniet, non, reiciendis sit itaque libero animi debitis unde!</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores similique porro, accusamus error tenetur. Fugit praesentium expedita, eaque deserunt voluptatibus itaque quaerat, ipsam maiores magnam est atque minus tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti beatae necessitatibus saepe mollitia ipsa minima labore alias perspiciatis dignissimos, dolorem eveniet, non, reiciendis sit itaque libero animi debitis unde!</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores similique porro, accusamus error tenetur. Fugit praesentium expedita, eaque deserunt voluptatibus itaque quaerat, ipsam maiores magnam est atque minus tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti beatae necessitatibus saepe mollitia ipsa minima labore alias perspiciatis dignissimos, dolorem eveniet, non, reiciendis sit itaque libero animi debitis unde!</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores similique porro, accusamus error tenetur. Fugit praesentium expedita, eaque deserunt voluptatibus itaque quaerat, ipsam maiores magnam est atque minus tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti beatae necessitatibus saepe mollitia ipsa minima labore alias perspiciatis dignissimos, dolorem eveniet, non, reiciendis sit itaque libero animi debitis unde!</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque dolores similique porro, accusamus error tenetur. Fugit praesentium expedita, eaque deserunt voluptatibus itaque quaerat, ipsam maiores magnam est atque minus tempore. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere deleniti beatae necessitatibus saepe mollitia ipsa minima labore alias perspiciatis dignissimos, dolorem eveniet, non, reiciendis sit itaque libero animi debitis unde!</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Servicio-->
                            <div class="p-2">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Titulua</h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                                    </div>
                                    
                        
                                    <div class="card-body">
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci eius dignissimos iste placeat sed delectus ea quos corrupti dolore ipsam laboriosam voluptas blanditiis neque, cumque molestias magni. Dicta, ullam veniam.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Info</button>
                                                
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>



        
        </main>


        <script defer src="../js/bootstrap.bundle.min.js"></script>
    </body>
</html>