<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/listStyle.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <title>Historial</title>
    </head>
    <body class="overflow-x-hidden">
        <nav id="header" class="navbar navbar-dark animated-nav row custom-height" aria-label="Dark offcanvas navbar">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="#" id="title">
                    <img src="/images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
                    <p class="h1 animated-title titulo ms-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
                </a>
            
                <div class="btn-group" id="header-buttons">
                    <button class="botoiPro">SkillParty Pro</button>
                    <a href="/html/servicios.html" class="botoi">Servicios</a>
                    <a href="/html/panelCreador.html" class="botoi">Panel de Creador</a>
                </div>
                
                
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
                    <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
            
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                
                            <div id="menu-buttons">
                                <li class="nav-item">
                                    <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Servicios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Panel del creador</a>
                                </li>
                            </div>
                            
                
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hizkuntza
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Euskara</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="#">Castellano</a></li>
                                    <hr class="dropdown-divider">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <main class="container position-relative overflow-auto pt-4">

            <div class="border m-2 p-2">
                <h2>Servicios publicados</h2>
            </div>
            <div class="album py-2">
                <div class="container-fluid ">
                    <div class="d-flex overflow-x-auto">

                        <div class="p-2" th:each="i : ${serviciosSi}">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${i.titulo}"></h5>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <img th:src="@{|/uploads/${i.creador.id}/services/${i.id}/portada${i.portada.extension}|}" alt="logo" width="300">   
                                </div>
                                <div class="card-body">
                                    <p class="card-text" th:text="${i.descripcion}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="@{|/service/edit?title=${i.titulo}|}" class="btn btn-sm btn-outline-secondary">Editar</a>      
                                            <a th:href="@{|/service/view?title=${i.titulo}|}" class="btn btn-sm btn-outline-secondary">Ver</a>      
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="border m-2 mt-5 p-2">
                <h2>Servicios sin publicar</h2>
            </div>
            <div class="album py-2">
                <div class="container-fluid ">
                    <div class="d-flex overflow-x-auto">
                        
                            <div class="p-2" th:each="i : ${serviciosNo}">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${i.titulo}"></h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img th:src="@{|/uploads/${i.creador.id}/services/${i.id}/portada${i.portada.extension}|}" alt="logo" width="300">   
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" th:text="${i.descripcion}"></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a th:href="@{|/service/edit?title=${i.titulo}|}" class="btn btn-sm btn-outline-secondary">Editar</a>      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                    </div>
                </div>
            </div>
       
        </main>


        <script defer src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>