<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/nav.css">
        <link rel="stylesheet" href="/css/listStyle.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <title>Historial</title>
    </head>
    <body class="overflow-x-hidden">
        <header th:insert="~{include/nav :: nav}"></header>

        <main class="container position-relative overflow-auto pt-4">

            <div class="border m-2 p-2">
                <h2>Cursos por verificar</h2>
            </div>
            <div class="album py-2">
                <div class="container-fluid ">
                    <div class="d-flex overflow-x-auto">
                        
                        <div class="p-2" th:if="cursos != null" th:each="i : ${cursos}">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${i.titulo}"></h5>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <img th:src="@{|/uploads/${i.creador.id}/courses/${i.id}/portada${i.portada.extension}|}" alt="Portada del curso" width="300">   
                                </div>
                                <div class="card-body">
                                    <p class="card-text" th:text="${i.descripcion}"></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a th:href="@{/course/view(title=${i.titulo})}" class="btn btn-sm btn-outline-secondary">Ver</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <!-- Servicios-->
            <div class="border m-2 mt-5 p-2">
                <h2>Servicios por verificar</h2>
            </div>
            <div class="album py-2">
                <div class="container-fluid ">
                    <div class="d-flex overflow-x-auto">
                        
                            <div class="p-2" th:if="${servicios != null}" th:each="i : ${servicios}">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title" th:text="${i.titulo}"></h5>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <img th:src="@{|/uploads/${i.creador.id}/services/${i.id}/portada${i.portada.extension}|}" alt="Portada del servicio" width="300">   
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text" th:text="${i.descripcion}"></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a th:href="@{/service/view(title=${i.titulo})}" class="btn btn-sm btn-outline-secondary">Ver</a>      
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                    </div>
                </div>
            </div>

        </main>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>