body
{
    background-color: black;
    height: 100vh;
    margin: 0;
}

div
{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

table
{
    margin: 0 auto; 
    height: auto;
}

tr
{
    height: auto;
    width: auto;
}

th
{
    height: auto;
    width: auto;
}

.cell
{
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    width: calc(min(80vh, 80vw)/var(--elementos));
    height: calc(min(80vh, 80vw)/var(--elementos));
    padding: 0;
}

.verde
{
    background-color: green;
}

.rojo
{
    background-color: red;
}

.negro
{
    background-color: black;
}