html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn {
  background-color: #F48224;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  border-radius: 0 !important;
  border: none;
  transition:all 0.3s ease 0s;
}
.btn:hover,
.btn.active:hover{
  color: #ffffff;
}
.btn:before{
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  background-color:#2E0014;
  width: 30%;
  height: 4px;
  transition:all 0.3s ease 0s;
}
.btn:hover:before,
.btn.active:before{
  width: 100%;
}

@media screen and (max-width: 575px){
  .btn{
      margin-bottom: 50px !important;
  }
}

@media (min-width: 460px) {
  .fixed-height {
    height: 484px;
  }

  .fixed-height * {
    max-height: 484px;
  }
}
