<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillParty - Create Service</title>
</head>
<body>
    <div th:if="${param.noFather}">
        <h1>El servicio introducido no existe</h1>
    </div>
    <div th:if="${param.null}">
        <h1>No se han introducido todos los datos</h1>
    </div>
    <div th:if="${param.noCreator}">
        <h1>El usuario logeado no es un creador</h1>
    </div>
    <div th:if="${param.exists}">
        <h1>El servicio ya existe</h1>
    </div>
    <h1>Create service</h1>
    <form th:action="@{/service/create}" th:object="${Servicio}" method="post" enctype="multipart/form-data">
        <label>Titulo: <input type="text" th:field="*{titulo}" name="titulo" required></label><br>
        <label>Descripcion: <input type="text" th:field="*{descripcion}" required></label><br>
        
        <label>Portada: 
            <input type="file" name="file" required/>
            <!--<label>Carpeta: <input type="text" name="directory" required></label>-->
        </label><br>
        <label for="categoria">Categoria</label>
        <select name="categoriaParam" id="categoria">
            <option value="Fisica">Fisica</option>
            <option value="Informatica">Informatica</option>
            <option value="Mecanica">Mecanica</option>
            <option value="Biologia">Biologia</option>
            <option value="Matematica">Matematica</option>
        </select><br>
        <label for="idioma"></label>
        <select name="idiomaParam" id="idioma">
            <option value="es">Castellano</option>
            <option value="eu">Vasco</option>
            <option value="en">Ingles</option>
        </select><br>
        <button type="submit">Crear servicio</button>
    </form>
</body>
</html>