<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/createUser.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/script.js"></script>
    <title>Crear cuenta</title>
</head>
<body>
    <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="../video/background.mp4" type="video/mp4">
        </video>
    </div>

    <nav id="header" class="navbar navbar-dark animated-nav row custom-height p-0" aria-label="Dark offcanvas navbar">
      <div class="container-fluid">
  
        <a class="navbar-brand d-flex align-items-center" href="#" id="title">
          <img src="../images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
          <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
        </a>
  
        <div class="btn-group" id="header-buttons">
          <button class="botoiPro">SkillParty Pro</button>
          <a href="../html/createUser.html" class="botoi">Kontua sortu</a>
        </div>
        
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
  
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
  
              <li class="nav-item">
              <div id="menu-buttons">
                <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
              </div>
            </li>
  
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Hizkuntza
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Euskara</a><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Castellano</a><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
          
        </div>
      </div>
    </nav>
    
    <div class="container-fluid m-0 vh-80 d-flex">
          <main class="row vw-100 h-100 d-flex justify-content-center">

            <div class="col-8 col-lg-5 order-lg-2 ms-4">
            <form th:action="@{/createUser}" th:object="${Usuario}" method="post">
              <h1 class="display-1 mb-3 ms-0 fw-normal text-white text-aling-center">Crear cuenta</h1>

              <div class="form-floating">
                  <input type="text" th:field="*{name}" class="form-control bg-body-primary mb-2" id="name" name="name" placeholder="Name">
                  <label for="name">Name</label>
              </div>

              <div class="form-floating">
                  <input type="text" th:field="*{apellidos}" class="form-control bg-body-primary mb-2" id="surname" name="surname" placeholder="surname">
                  <label for="surname">Surname</label>
              </div>

              <div class="form-floating">
                  <input type="date" th:field="*{fecha_nacimiento}" class="form-control bg-body-primary mb-2" id="date_birth" name="date_birth">
                  <label for="date_birth">Date of Birth</label>
              </div>
              
              <div class="form-floating">
                  <input type="text" th:field="*{email}" class="form-control bg-body-primary mb-2" id="email" name="email" placeholder="name@example.com">
                  <label for="email">Email address</label>
              </div>

              <div class="form-floating">
                  <input type="text" th:field="*{username}" class="form-control bg-body-primary mb-2" id="username" name="username" placeholder="username">
                  <label for="username">Username</label>
              </div>

              <div class="form-floating" id="firstPassword">
                  <input type="password" th:field="*{password}" class="form-control bg-body-primary mb-2" id="password" name="password" placeholder="Password">
                  <label for="password">Password</label>
              </div>

              <div class="form-floating" id="secondPassword">
                  <input type="password" class="form-control bg-body-primary" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
                  <label for="repeatPassword">Repeat Password</label>
              </div>

              <div id="testua" class="text-white">
              </div>

              <div class="form-check p-0">
                <label class="form-check-label h3 text-light" for="formFile">Subir foto de perfil</label>
                <input class="form-control" type="file" id="formFile" required>
            </div>

              <div class="form-check text-start my-3 text-white">
                  <input type="checkbox" name="creator" id="creator">
                  <label for="creator">Creador</label>
              </div>

              <div id="gehigarri" class="form-floating desagertu">
                  <input type="text" class="form-control bg-body-primary" id="aditional" name="aditional" placeholder="Aditional information">
                  <label for="aditional">Aditional information</label>
              </div>

              <button id="login" class="btn btn-primary w-100 py-2 my-2" type="submit">Sign in</button>
          </form>
            </div>

              <div class="col-12 col-lg-6 order-lg-1 p-0 overflow-x-auto d-flex align-items-center">

                <div id="infoCards" class="container-fluid containers  form-floating desagertu">
                  <div class="row p-2 d-flex flex-nowrap flex-lg-wrap justify-content-md-center justify-content-start overflow-x-auto">
                      <div class="col-4 card m-lg-5">
                          <div class="content text-white">
                              <h3>Cursos</h3>
                              <p>Podrás crear tus propios cursos y publicarlos al público.</p>
                          </div>
                      </div>
                  
                      <div class="col-4 card m-lg-5">
                          <div class="content text-white">
                              <h3>Servicios</h3>
                              <p>Podrás publicar tus servicios y ganar dinero con contrataciones.</p>
                          </div>
                      </div>
                  </div>
                </div>

            </div>


            </main>

    </div>

<!--GLASSMORPHISM-->

    <script type="text/javascript" src="../js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
		max: 25,
		speed: 400,
        glare: true,
        "max-glare": 1,
	});
    </script>

    <script defer src="../js/bootstrap.bundle.min.js"></script>

    
</body>
</html>