<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillParty - Create Service</title>
</head>
<body>
    <div th:if="${param.noFather}">
        <h1>El servicio introducido no existe</h1>
    </div>
    <div th:if="${param.null}">
        <h1>No se han introducido todos los datos</h1>
    </div>
    <div th:if="${param.noCreator}">
        <h1>El usuario logeado no es un creador</h1>
    </div>
    <div th:if="${param.exists}">
        <h1>El servicio ya existe</h1>
    </div>
    <form th:action="@{/createService}" th:object="${Servicio}" method="post">
        <label>Titulo: <input type="text" th:field="*{titulo}" required></label><br>
        <label>Descripcion: <input type="text" th:field="*{descripcion}" required></label><br>
        
        <label>Portada: <input type="text" name="portadaDireccion" required></label><br>
        <label for="categoria">Categoria</label>
        <select name="categoriaSeleccionada" id="categoria">
            <option value="Fisica">Fisica</option>
            <option value="Informatica">Informatica</option>
            <option value="Mecanica">Mecanica</option>
            <option value="Biologia">Biologia</option>
            <option value="Matematica">Matematica</option>
        </select><br>
        <button type="submit">Crear servicio</button>
    </form>
    <form th:action="@{/createOption}" th:object="${Opcion}" method="post">
        <label>Titulo Servicio: <input type="text" name="titulo" required></label>
        <label>Descripcion: <input type="text" th:field="*{descripcion}" required></label>
        <label>Precio: <input type="number" name="precio" step=".01" required></label>
        <button type="submit"></button>
    </form>
</body>
</html>