<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillParty - Create User</title>
</head>
<body>
    <form th:action="@{/createUser}" th:object="${Usuario}" method="post">
        <label>Nombre de usuario: <input type="text" th:field="*{username}"></label><br>
        <label>Contraseña: <input type="text" th:field="*{password}"></label><br>
        <label>Email: <input type="email" th:field="*{email}"></label><br>
        <label>Nombre: <input type="text" th:field="*{nombre}"></label><br>
        <label>Apellidos: <input type="text" th:field="*{apellidos}"></label><br>
        <label>Año de nacimineto: <input type="number" name="año"></label><br>
        <label>Mes de nacimineto: <input type="number" name="mes"></label><br>
        <label>Dia de nacimineto: <input type="number" name="dia"></label><br>
        <label>Creador: <input type="checkbox" name="CREADOR"></label><br>
        <label>Telefono: <input type="string" th:field="*{telefono}"></label><br>
        <button type="submit">Crear cuenta</button>
    </form>
</body>
</html>