<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/coursePage.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/editService.js"></script>
    <title>Document</title>
</head>
<body>
    <nav id="header" class="navbar navbar-dark animated-nav row custom-height" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">
    
          <a class="navbar-brand d-flex align-items-center" href="#" id="title">
            <img src="../images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
            <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
          </a>
    
          <div class="btn-group" id="header-buttons">
            <button class="botoiPro">SkillParty Pro</button>
            <a href="../html/createUser.html" class="botoi">Kontua sortu</a>
          </div>
          
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
    
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
    
                <li class="nav-item">
                <div id="menu-buttons">
                  <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                  <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
                </div>
              </li>
    
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hizkuntza
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Euskara</a><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Castellano</a><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">English</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
            
          </div>
        </div>
      </nav>

    <main>
      <div class="container-fluid vw-100 d-flex flex-column flex-lg-row">
        <div class="row w-100 d-flex justify-content-center">
          <div class="col-10 col-lg-6 card me-lg-4">
            <div class="row text-start">
              <input type="text" name="username" value="" placeholder="Lehen zerbitzua" class="h1 p-1 card-header"/>
            </div>

            <div class="row d-flex justify-content-center p-1">
              <video controls class="w-100 h-auto">
                <source src="../video/youngVib.mp4" type="video/mp4">
              </video>
            </div>

            <div class="row">
              <div class="container-fluid p-0">
                <form>
                  <div class="row d-flex justify-content-between">
                    <div class="form-check p-3">
                      <label class="form-check-label h3" for="thumbnail">Portadako argazkia igo</label>
                      <input class="form-control" type="file" id="thumbnail">
                    </div>
                  </div>

                  <div class="row d-flex justify-content-center p-3">
                    <textarea	rows="4" cols="50" name="body"
                      placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam aliquam laboriosam aliquid blanditiis. Nisi, itaque mollitia dolore ut aliquam placeat sit eos, iste in dolorem cupiditate quos inventore odit nam.">
                    </textarea>
                  </div>
                  
                  <select class="form-select" id="inputGroupSelect01"> 
                    <option selected>Categoría</option> 
                    <option value="1">Ciencias</option> 
                    <option value="2">Arte</option> 
                    <option value="3">Ocio</option> 
                    <option value="4">Cultura</option> 
                  </select>

                  <br/>

                  <select class="form-select" id="inputGroupSelect02"> 
                    <option selected>Idioma</option> 
                    <option value="1">Euskara</option> 
                    <option value="2">Castellano</option> 
                    <option value="3">English</option> 
                    <option value="4">French</option> 
                  </select>

                  <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary px-4 m-2">Editar</button>
                    <button type="submit" class="btn btn-danger px-4 m-2">Eliminar servicio</button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>

          <div class="col-10 col-lg-4 d-flex align-items-center justify-content-center card d-lg-inline mt-3 m-lg-0">
            <div class="container-fluid p-0 m-0 w-100">
              <div class="row d-flex align-items-center">
                <div class="col-auto">
                  <img src="../images/profile.png" class="rounded h-auto p-3 m-0" width="100" alt="profile picture">
                </div>
                <div class="col">
                  <p class="h3 m-0 ps-2">Autorearen izena</p>
                </div>
              </div>

              <div class="row d-flex justify-content-center p-0">
                <div class="col-10 m-2 p-0">

                  <div class="list-group">
                    <div class="list-group-item gap-2">
                      <form class="w-100 d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column" style="width: 75%;">
                          <input type="text" name="title" value="" placeholder="1 Aukera">
                          <input type="number" name="price" value="" placeholder="€€€">
                        </div>
                        <button type="submit" class="btn btn-light">Editar</button>
                      </form>
                    </div>
                  </div>
                  <br/>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <br>
      <hr>

      <div>
        <h2 class="mx-2 px-2 mx-md-4 px-md-4 fw-bold">Muestras del servicio</h2>
      
        <div class="album py-2 ">
          <div class="container">
            <div class="d-flex overflow-x-auto">
              <div class="p-2">
                <form class="card shadow-sm">
                  <div class="d-flex justify-content-center">
                      <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                  </div>
                  <div class="form-check p-2 ">
                    <p>Para cambiar la foto o video:</p>
                    <input class="form-control" type="file" id="file1">
                  </div>
        
                  <div class="card-body">
                    <div class="d-flex justify-content-between m-2">
                      <button class="btn btn-primary px-4 me-md-2">
                        Editar
                      </button>
                      <button class="btn btn-primary px-4 me-md-2">
                        Borrar
                      </button>
                    </div>
                    
                  </div>
                    
                    
                </form>
              </div>

              <!-- kurtsoa-->
              <div class="p-2">
                <form class="card shadow-sm">
                  <div class="d-flex justify-content-center">
                      <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                  </div>

                  <div class="form-check p-2 ">
                    <p>Para cambiar la foto o video:</p>
                    <input class="form-control" type="file" id="file2">
                  </div>
        
                  <div class="card-body">
                    <div class="d-flex justify-content-between m-2">
                      <button class="btn btn-primary px-4 me-md-2">
                        Editar
                      </button>
                      <button class="btn btn-primary px-4 me-md-2">
                        Borrar
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              <!-- kurtsoa-->
              <div class="p-2">
                <form class="card shadow-sm">
                  <div class="d-flex justify-content-center">
                      <img src="../images/skillPartyLogo.png" alt="logo" width="300">   
                  </div>
                    

                  <div class="form-check p-2 ">
                    <p>Para cambiar la foto o video:</p>
                    <input class="form-control" type="file" id="file3">
                  </div>

                  <div class="card-body">
                    <div class="d-flex justify-content-between m-2">
                      <button class="btn btn-primary px-4 me-md-2">
                        Editar
                      </button>
                      <button class="btn btn-primary px-4 me-md-2">
                        Borrar
                      </button>
                    </div>
                  </div>
                  </form>
              </div>

              <!-- kurtsoa hutsik-->
              <div class="p-2 d-flex align-items-center w-50">
                <form class="card shadow-sm">
                  <div class="form-check p-0">
                    <label class="form-check-label h3" for="filex">Argazkia edo bideoa igo</label>
                    <input class="form-control" type="file" id="filex">
                  </div>

                  <div class="card-body">
                    <div class="d-flex justify-content-end m-2">
                      <button class="btn btn-primary px-4 me-md-2">
                        Añadir
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <div class="m-3 px-2 d-flex justify-content-end">
          <button id="botonPublicar"  class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#verServicio" aria-expanded="false" aria-controls="verServicio">Publicar servicio</button>
        </div>
        <div id="verServicio" class="collapse">
          <a class="btn btn-primary px-4 me-md-2">Ver pantalla del servicio</a>
        </div>
      </div>
    </main>
  <script defer src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>