<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/vistaCurso.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>

    <div class="video-container">
        <video autoplay loop muted playsinline>
            <source src="../../video/background.mp4" type="video/mp4">
        </video>
    </div>

    <nav id="header" class="navbar navbar-dark animated-nav row custom-height" aria-label="Dark offcanvas navbar">
        <div class="container-fluid">
    
        <a class="navbar-brand d-flex align-items-center" href="#" id="title">
            <img src="../../images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
            <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
        </a>
    
        <div class="btn-group" id="header-buttons">
            <button class="botoiPro">SkillParty Pro</button>
            <a href="../../html/createUser.html" class="botoi">Kontua sortu</a>
            <a href="../../html/panelCreador.html" class="botoi">Panel de Creador</a>
        </div>
        
        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
    
            <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
    
                <li class="nav-item">
                <div id="menu-buttons">
                <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
                <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
                <a class="nav-link active" aria-current="page" href="#">Panel del creador</a>
                
                </div>
            </li>
    
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hizkuntza
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Euskara</a><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Castellano</a><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">English</a></li>
                </ul>
                </li>
            </ul>
            <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            </div>
            
        </div>
        </div>
    </nav>

    <main>
        <div class="m-4 p-4">
            <h1 class="text-white fw-bold">Editar perfil Administrador</h1>
        </div>
        <form class="container text-center">
        
            <div class="row w-100 mx-0">
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Username: </h4>
                    <input type="text" name="surname" value="" placeholder="username"/>
                </div>
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Email address: </h4>
                    <input type="text" name="surname" value="" placeholder="email"/>
                </div>
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Telephone number: </h4>
                    <input type="number" name="telephone" value="" placeholder="telephone number"/>
                </div>
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Name: </h4>
                    <input type="text" name="name" value="" placeholder="Name"/>
                </div>
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Surname: </h4>
                    <input type="text" name="surname" value="" placeholder="Surname"/>
                </div>
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Date of Birth: </h4>
                    <input type="date" name="surname" value="" placeholder="date_birth"/>
                </div>
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>Actual password: </h4>
                    <input type="text" name="oldPassword" placeholder="Actual password"/>
                </div>
    
                <div class="col-lg-4 col-sm-6 text-white p-2 mb-2">
                    <h4>New password: </h4>
                    <input type="text" name="newPassword" placeholder="New password"/>
                </div>
    
                <div class="col-lg-4 col-sm-12 text-white p-2 mb-2">
                    <h4>Repeat new password: </h4>
                    <input type="text" placeholder="Repeat new password"/>
                </div>
            </div>

            <div class="row w-100 m-3 pt-md-3 pe-md-4 justify-content-end">
                <!--<button class="col-md-2 btn btn-primary btn-lg px-4 me-md-2">Editar</button>-->
                <a href="panelAdministrador.html" class="col-md-2 btn btn-primary btn-lg px-4 me-md-2">Editar</a>
            </div>
        </form>

        <div class="my-3">
            <h2 class="mx-2 px-2 mx-md-4 px-md-4 fw-bold text-white">Foto de perfil</h2>
            <div class="form-check p-4 ps-5 mx-5">
                <label class="form-check-label h3 text-white" for="credit">Perfileko argazkia igo</label>
                <input class="form-control w-50" type="file" id="formFile">
            </div>
        </div>
    
<!-- <form class="container text-center">
        
            <div class="row w-100 mx-0">
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Username: </h4>
                    <input type="text" name="surname" value="" placeholder="username"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Email address: </h4>
                    <input type="text" name="surname" value="" placeholder="email"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Telephone number: </h4>
                    <input type="number" name="telephone" value="" placeholder="telephone number"/>
                </div>
                
                
            </div>
            <div class="row w-100 mx-0">
                
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Name: </h4>
                    <input type="text" name="name" value="" placeholder="Name"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Surname: </h4>
                    <input type="text" name="surname" value="" placeholder="Surname"/>
                </div>
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Date of Birth: </h4>
                    <input type="date" name="surname" value="" placeholder="date_birth"/>
                </div>
                
            </div>

            <div class="row w-100 mx-0">
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Actual password: </h4>
                    <input type="text" name="oldPassword" placeholder="Actual password"/>
                </div>
    
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>New password: </h4>
                    <input type="text" name="newPassword" placeholder="New password"/>
                </div>
    
                <div class="col-md-4 text-white p-2 mb-2">
                    <h4>Repeat new password: </h4>
                    <input type="text" placeholder="Repeat new password"/>
                </div>
            </div>

            <div class="row w-100 m-3 pt-md-3 pe-md-4 justify-content-end">
            --> <!--<button class="col-md-2 btn btn-primary btn-lg px-4 me-md-2">Editar</button>-->
            <!--  <a href="panelAdministrador.html" class="col-md-2 btn btn-primary btn-lg px-4 me-md-2">Editar</a>
            </div>
        </form>-->
        
    </main>
    <script defer src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>