<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/listStyle.css">
        <link rel="stylesheet" href="../css/bootstrap.min.css">

        <title>Error 404</title>
    </head>
    <body class="d-flex justify-content-center align-items-center border min-vh-100">
        
        <div class="border p-3">
            <h1>Error 403</h1>
            <p>No tiene permisos para acceder a la página solicitadar</p> 
            <!--<button class="btn border rounded">Volver al inicio</button>-->
            <a href="error404.html" class="btn border rounded">Volver al inicio</a>
            <!--<a href="/">Volver al inicio</a> -->  
        </div>



        <!-- Script-ak-->
        <script defer src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    
    </body>
</html> 
