<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/header.css">
    <title>SkillParty</title>
</head>
<body>
  <div class="video-container">
    <video autoplay loop muted playsinline>
      <source src="video/background.mp4" type="video/mp4">
    </video>
  </div>

  <nav id="header" class="navbar navbar-dark animated-nav row custom-height p-0" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">

      <a class="navbar-brand d-flex align-items-center" href="#" id="title">
        <img src="images/skillPartyLogo.png" class="navbar-toggler" alt="SkillParty" width="100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">
        <p class="h1 animated-title titulo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark">SkillParty</p>
      </a>

      <div class="btn-group" id="header-buttons">
        <button class="botoiPro">SkillParty Pro</button>
        <a href="/createUser" class="botoi">Kontua sortu</a>
      </div>
      
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Hamburger menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
            <div id="menu-buttons">
              <a class="nav-link active botoiPro" aria-current="page" href="#">SkillParty Pro</a>
              <a class="nav-link active" aria-current="page" href="#">Kontua sortu</a>
            </div>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hizkuntza
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" th:href="@{/login(lang=eu)}">Euskara</a><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/login(lang=es)}">Castellano</a><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/login(lang=en)}">English</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        
      </div>
    </div>
  </nav>

  <div class="container-fluid m-0 vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
      <main class="col-xs-10 offset-xs-1 col-lg-12 offset-lg-0 col-xl-5 offset-xl-6 pt-5 d-flex align-items-stretch justify-content-center">
        <form class="w-75" th:action="@{/login}" method="post">
          <h1 class="display-1 mb-3 fw-normal text-white">Iniciar sesión</h1>

          <div class="form-floating">
            <input type="text" class="form-control bg-body-primary mb-2" name="username" id="username" placeholder="name@example.com">
            <label for="username" th:text="#{login.username}"></label>
          </div>
          <div class="form-floating mt-3">
            <input type="password" class="form-control bg-body-primary" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
          </div>

          <div class="form-check text-start my-3 text-white">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Remember me
            </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-white">&copy; 2017–2024</p>
        </form>
      </main>
    </div>
  </div>
    <script defer src="js/bootstrap.bundle.min.js"></script>
</body>
</html>